
body{
    overflow-x: hidden;
}
#div1{
    background-color: #293F50;
    color: white;
    height: 550px;    
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 100;
  }
  #style{
    padding-left: 200px;
    padding-top: 60px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 100;
  }
  a{
    text-decoration: none;
    color: white;
  }
  #navigator{
    margin-top: -10px;
    margin-left: 710px;
    word-spacing: 10px;
    text-decoration: none;
    color: white;
  }
  /* *{
      border: 1px solid red;
  } */
  #text{
    color: #64887A;
    margin-top: -80px;
    margin-left: 850px;
    font-size: larger;
    width: 300px;
  
    
  }   
  #regi{
    border-radius: 5px;
    border: 1px solid white;
    text-align: center;
    margin-top: 50px;
    margin-right: 1000px;
    margin-left: 550px;
  
  
  }
  #regi:hover{
    background-color: white;
    color: #64887A;
  
  }
  
  #sectext{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    color: rgb(18, 146, 103);
    margin-left: 300px;
    font-size: 30px;
  }
  
  #para{
    padding-left: 230px;
    font-size: x-large;
    
  }
  
  #para1{
    padding-left: 330px;
    font-size: x-large;
    margin-top: -13px;
    
  }
  
  button{
    height: 60px;
    width: 200px;
    margin-left: 600px;
    font-size: large;
    color: white;
    background-color: #293F50;
    font-family: serif;
  
    border: 1px solid white;
  }
  
  #div2{
    height: 600px;
    display: flex;
  }
  
  #pic1{
    margin-top: -0px;
    height: 200px;
    width: 300px;
    padding-left: 150px;
    padding-top: 10px;
  }
  #pic2{
    height: 200px;
    width: 300px;
    padding-left: 50px;
    padding-top: 10px;
  }
  #pic3{
    height: 200px;
    width: 300px;
    padding-left: 50px;
    padding-top: 10px;
  }
  
  #subdiv1{
    position: relative;
    top: 30px;
    left: 150px;
    font-size: large;
    opacity: 0.5;
    font-family: "Montserrat", serif;
    font-weight: 300;
  }
  #subdiv2{
    position: relative;
    top: 30px;
    left: 50px;
    font-size: large;
    opacity: 0.5;
    font-family: "Montserrat", serif;
    font-weight: 300;
  }
  #subdiv3{
    position: relative;
    top: 30px;
    left: 50px;
    font-size: large;
    opacity: 0.5;
    font-family: "Montserrat", serif;
    font-weight: 300;
  }
  
  #font1{
    width: 300px;
    padding-left: 150px;
    font-family: "Montserrat", serif;
    font-weight: 300;
  }
  
  #und1{
    padding-left: 150px;
    font-family: "Montserrat", serif;
    font-weight: 300;
    color: #648880;
  
  }
  #font2{
    width: 300px;
    padding-left: 60px;
    font-family: "Montserrat", serif;
    font-weight: 300;
   
  }
  
  #und2{
    padding-left: 100px;
    font-family: "Montserrat", serif;
    font-weight: 300;
    color: rgb(18, 146, 103);
  }
  #font3{
    width: 300px;
    padding-left: 60px;
    font-family: "Montserrat", serif;
    font-weight: 300;
  
  }
  
  #und3{
    padding-left: 100px;
    font-family: "Montserrat", serif;
    font-weight: 300;
    color: rgb(18, 146, 103);
  }
  
  #footer{
    height: 90px;
    background-color: #293F50;
    color: white;
    text-decoration: none;
  }
  #footernavi{
    padding-top: 30px;
    padding-left: 150px;
    text-decoration: none;
    color: white;
    font-size: small;
    margin-left: 700px;
    margin-top: -10px;
  
  }
  .navii{
    text-decoration: none;
    color: aliceblue;
  }
  small{
    padding: 150px 150px 70px 70px;
    position: relative;
    top: 28px;
  }
  body{
    margin: 0px;
    padding: 0px;
  }
  